#root {
    height: 100%;
    background-image: url("https://i.pinimg.com/originals/7d/0f/20/7d0f20daf3eeebfc5e38577ec9de7c65.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }